@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .main-bg{
        background-image: url("../img/avatar_makata_vespa_042.png") , linear-gradient(to right,#00B4DB,#0083B0);
        background-size: contain , auto;
        background-repeat: no-repeat;
    }
}